body,
html {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    background-color: #E3F2FD;
    background: url('images/dogtile4.png');
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}


/* --- HEADER --- */

#header {
    background-color: #fff;
    color: #333;
    padding: 10px;
    min-height: 80px;
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 10px;
}

#logo {
    float: left;
    min-height: 80px;
}

#logo img {
    height: 50px;
    padding-top: 18px;
    padding: 13px 30px 0 30px;
}

.logo-text {
    float: left;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 80px;
    padding: 0;
    margin: 0;
}


/* --- MAIN MENU--- */

#mainmenu {
    text-align: right;
    padding-right: 30px;
    padding-top: 32px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#mainmenu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mainmenu ul li {
    display: inline;
    padding-right: 10px;
}

#mainmenu ul li a {
    text-decoration: none;
    color: black;
    display: inline-block;
    list-style: none;
    text-transform: uppercase;
}

#mainmenu li a:hover {
    padding-bottom: 5px;
    border-bottom: 1px solid #EC407A;
    color: #EC407A;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#mainmenu li:nth-child(2) a:hover {
    color: #42A5F5;
    border-bottom: 1px solid #42A5F5;
}

#mainmenu li:nth-child(3) a:hover {
    color: #66BB6A;
    border-bottom: 1px solid #66BB6A;
}


/* --- SUB MENU --- */

#submenu {
    width: 66.666667%;
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

#submenu ul {
    padding: 0;
    margin: 0;
    font-weight: bold;
    list-style: none;
}

#submenu li {
    display: inline-block;
    text-align: center;
    background: #FCE4EC;
    border-radius: 10px 10px 0 0;
    padding: 0;
    margin: 0;
    width: 50%;
    min-height: 40px;
    line-height: 40px;
}

#submenu p, #submenu a {
    display: inline;
    text-decoration: none;
    color: black;
}

#submenu li a {
    color: red;
    display: block;
}

#submenu li:hover {
    color: #EC407A;
    background: white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

#submenu li:hover p {
    color: #EC407A;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

li#active {
    background: white;
}


/* --- LEFT --- */

.left {
    float: left;
    width: 66.66666667%;
    overflow: auto;
}

.content {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}

.content img {
    width: 100%;
}

.content + .content {
    margin-top: 10px;
}

.content ul {
    padding: 0 15px;
}

/* --- INFO --- */

.content h2 {
    margin: 0;
}

.content.transparent {
    padding: 0 30px;
    background: none;
}

.text {
    float: left;
    width: 60%;
}

.text p {
    padding-right: 15px;
}

.text a,
.text a:visited {
    text-decoration: none;
    color: #EC407A;
}

.text a:hover {
    color: #42A5F5;
}

.text h3 {
    margin: 0;
    font-size: 16px;
}

#pris {
    margin-bottom: 15px;
    text-align: right;
}

.doginfo-wrap {
    float: right;
    width: 40%;
    
}

.doginfo {
    padding: 15px;
    border: 1px solid #EEEEEE;
    border-radius: 10px;
}

.doginfo ul {
    padding: 0 15px;
}

/* --- GOOGLE MAP --- */

.content-map {
    padding: 30px;
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 10px;
}

.content-map.dog {
    border-radius: 10px;
}

#map-wrap {
    padding: 30px;
}

#googlemap {
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
}

#googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    pointer-events: none;
    border: none;
}


/* --- SORT --- */

#sort {
    padding: 10px 30px;
    margin-bottom: 10px;
}

#sort table {
    width: 100%;
    text-align: left;
}

#sort th {
    width: 100%;
}

#sort td {
    background: url(images/arrowmicro.png) no-repeat right 0px center;
    width: 100%;
    padding-right: 20px;
    cursor: pointer;
}

#sort td+td {
    padding-left: 10px;
}

#sort a{
    text-decoration: none;
    color:black;
}

/* --- RESULTS --- */

.post {
    overflow: auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.post + .post {
    margin-top: 10px;
}

.post .info {
    position: relative;
    float: left;
}

.info img {
    margin-right: 15px;
    margin-bottom: 15px;
    display: block;
    float: left;
}

.post h2 {
    display: inline;
    margin: 0;
}

.post a {
    text-decoration: none;
    color: #000;
}

.post a:hover {
    color: #EC407A;
}


/* --- RIGHT --- */

.right {
    float: right;
    width: 33.33333333%;
}

.right .content {
    margin-left: 10px;
}


/* --- SEARCH --- */

#search {
    position: relative;
}

#search h2 {
    margin: 0;
    margin-bottom: 10px;
}

#info {
    border-radius: 50%;
    background: #3498db;
    color: white;
    padding: 6px 12px;
    float: right;
    margin: 2px;

}

#infoshow{
    position: absolute;
    top: 25px;
    visibility: hidden;
    border: solid 5px #3498db;
    background: white;
    padding: 6px;
    border-radius: 5px;

}

#info:hover + #infoshow{
    visibility: visible;
}

#info:hover{
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background:#FCE4EC;
    color:black;
}

.searchinput {
    width: 100%;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    background: #fbfbfb;
    border: none;
}

.searchinput:focus {
    outline: none;
}

.col1 {
    width: 50%;
    float: left;
}

.col2 {
    width: 50%;
    float: left;
}

input[type=checkbox] {
    font-size: 1em;
    line-height: 24px;
    border: none;
    margin: 0 5px 0 0;
}

select {
    background: url(images/arrowmicro.png) no-repeat right 10px center;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fbfbfb;
    font-size: 1em;
    line-height: 30px;
    border: none;
    margin-bottom: 10px;
    padding: 0 10px;
}

select:focus {
    outline: none;
}

.hundras {
    margin-top: 10px;
    width: 100%;
}

.color {
    width: 50%;
}

.age {
    width: 50%;
}

input[type=submit] {
    width: 100%;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    border: none;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    font-size: 24px;
    padding: 10px 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight: 700;
}

input[type=submit]:hover {
    color: black;
    background: #FCE4EC;
}

/* --- ABOUT --- */

.about-content {
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
}

.about-content p {
    text-align: justify;
}

.about-content a {
    text-decoration: none;
    color: #EC407A;
}

.about-content h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

#max {
    width: 80%;
    border-radius: 10px;
}

.brothers{
    width:20%;
    border-radius: 30px;


}



/* --- CONTACT --- */

.contact-content {
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
}

.contact-content p {
    text-align: justify;
}

.contact-content h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

.contact-content img {
    width: 150px;
    display: block;
    margin: 0 auto;
}


/* --- MAIL FORMULÄR --- */

#form-div {
    max-width: 600px;
    margin: 0 auto;
    padding: 0;
}

.feedback-input {
    color: #3c3c3c;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 10px 5px 10px 45px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0);
}

.feedback-input:focus {
    background: #fff;
    border: 2px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 10px 5px 10px 45px;
}


/* --- Icons --- */

#name {
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 20px 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#email {
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 20px 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

#comment {
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 20px 20px;
    background-position: 10px 10px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize: vertical;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
    background-color: white;
}


/* --- FOOTER --- */

#footer {
    clear: both;
    text-align: center;
    padding-top: 10px;
}

#footer .content {
    background: none;
}


/* --- MEDIA QUERIES --- */

@media all and (max-width: 850px) {
    .col1 {
        width: 100%;
    }
    .col2 {
        width: 100%;
    } 
    .color {
        width: 100%;
    }
    .age {
        width: 100%;
    }
    
    .text {
        width: 100%;
    }

    .doginfo-wrap {
        width: 100%;

    }
    
    .text p {
        padding-right: 0;
    }
    
}

@media all and (max-width: 700px) {  
    .left {
        width: 100%;
    }
    
    .right {
        float: left;
        width: 100%;
    }
    
    .right .content {
        margin-left: 0px;
        margin-bottom: 10px;
    }

    .col1 {
        width: 50%;
    }
    .col2 {
        width: 50%;
    }
    
    #logo-wrap {
        width: 290px;
        margin: 0 auto;
    }
    
    .logo-text {
        float: none;
    }
    
    #mainmenu {
        padding: 5px 0 0 0;
        margin: 0 10px 0 10px;
        min-height: 40px;
        text-align: center;
        border-top: 1px solid #EEEEEE;
    }
    
    #mainmenu ul li {
        padding: 0 10px;
        line-height: 40px;
    }
    
    #mainmenu li a:hover {
        border-bottom: none;
        padding:0;
    }
    
    #mainmenu li:nth-child(2) a:hover {
        border-bottom: none;
    }

    #mainmenu li:nth-child(3) a:hover {
        border-bottom: none;
    }
    
    #submenu {
        width: 100%;
    }
}

@media all and (max-width: 500px) {
    #mainmenu ul li {
        font-size: 12px;
    }
}

@media all and (max-width: 360px) {
    .col1 {
        width: 100%;
    }

    .col2 {
        width: 100%;
    }
    
    #sort table {
        width: 100px;
    }

    #sort th {
        display: none;
    }
}