body,
html {
    padding:0;
    margin:0;
    font-family:Helvetica;
    width: 100%;
}

#wrapper{
    max-width:1200px;
	width:100%;
	margin:0 auto;
}

/* --- HEADER --- */

#header {
    background-color:#eee;
    color:#333;
    padding:5px;
    min-height:80px;
    margin: 0 auto;
}

#logo {
    float:left;
    min-height: 80px;
}

#logo img {
    padding-top: 18px;
    padding: 13px 30px 0 30px;
}

.logo-text {
    float:left;
    font-family: 'Josefin Sans', sans-serif;
    line-height:80px;
    padding:0;
    margin:0;
}

/* --- MAIN MENU--- */

#mainmenu {
    text-align:right;
    padding-right: 30px;
}

#mainmenu ul {
    padding:0;
    margin:0;
    list-style:none;
}

#mainmenu ul li {
    display:inline;
    padding-right:10px;
}

#mainmenu ul li a {
    text-decoration:none;
    line-height:80px;
    color:black;
    display:inline-block;
    list-style:none;
    text-transform: uppercase;
}
#mainmenu li a:hover {
    text-decoration:underline;
    

}

/* --- SUB MENU --- */

#submenu {
    border: solid 5px black;
}

/* --- LEFT --- */

#left {
    float: left;
    width: 66.66666667%;
}

.content {
    padding: 30px;
    background-color:#eee;
}

.content div+div {
    padding-top:30px;
}

/* --- GOOGLE MAP --- */
#map-wrap {
    padding: 30px;
}

#googlemap {
    position: relative;
    padding-bottom: 50%;
    overflow: hidden;
}

#googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

/* --- SORT --- */

#sort {
    
}

/* --- RIGHT --- */

#right {
    float: right;
    width: 33.33333333%;
    height: 300px;
}

#right .content {
    margin-left: 10px;
}

/* --- SEARCH --- */

#search {
}

#search h2 {
    margin: 0;
}

/* --- FOOTER --- */

#footer {
    clear: both;
    text-align: center;
}