body,
html {
    padding:0;
    margin:0;
	font-family: Helvetica, Arial, sans-serif;
    width: 100%;
    background: #E3F2FD;
}

#wrapper{
    max-width:1200px;
	margin:0 auto;
    padding:0 15px;
}

/* --- HEADER --- */

#header {
    background-color:#fff;
    color:#333;
    padding:10px;
    min-height:80px;
    margin: 0 auto;

    margin-bottom: 35px;

    border-radius: 10px;

}

#logo {
    float:left;
    min-height: 80px;
}

#logo img {
    padding-top: 18px;
    padding: 13px 30px 0 30px;
}

.logo-text {
    float:left;
    font-family: 'Josefin Sans', sans-serif;
    line-height:80px;
    padding:0;
    margin:0;
}

/* --- MAIN MENU--- */

#mainmenu {
    text-align:right;
    padding-right: 30px;
}

#mainmenu ul {
    padding:0;
    margin:0;
    list-style:none;
}

#mainmenu ul li {
    display:inline;
    padding-right:10px;
}

#mainmenu ul li a {
    text-decoration:none;
    line-height:80px;
    color:black;
    display:inline-block;
    list-style:none;
    text-transform: uppercase;
}
#mainmenu li a:hover {
    text-decoration:underline;
    

}

/* --- SUB MENU --- */

#submenu{

    width:66.666667%;
}
#submenu ul{


    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius:10px 10px 0 0;
    font-size: 20px;
    font-weight: bold;

}

#submenu li{

    display: inline-table;
    width: 47%;
    text-align: center;
    margin-left: 7px;

}
#submenu ul li a{
    padding:0;
    margin: 0;

    text-decoration:none;


}

#submenu li a:hover{

    color:pink;
}

#subone{
    border: solid 5px pink;
    border-radius: 13px 13px 0 0;
    border-bottom: none;
    padding: 10px 0;

}
#subone a{
        color: #8cf;
}
#subtwo{
    border: solid 5px pink;
    border-radius: 13px 13px 0 0;
    border-bottom: none;
    padding: 10px 0;
}
#subtwo a{
    color:gray;
}













/* --- LEFT --- */

#left {
    float: left;
    width: 66.66666667%;
}

.content {
    padding: 30px;
    background-color:#fff;
    border-radius: 10px;
}


.content div+div {
    padding-top:10px;
}


.content + .content {
    margin-top: 10px;
}

/* --- GOOGLE MAP --- */
#map-wrap {
    padding: 30px;
}

#googlemap {
    position: relative;

    padding-bottom: 50%;
    overflow: hidden;
}

#googlemap iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    pointer-events: none;
}

/* --- SORT --- */

#sort {
    padding: 10px 30px;
    margin-bottom: 10px;
}

/* --- RESULTS --- */

.post {
    overflow: auto;
    padding: 30px;
    background-color:#fff;
    border-radius: 10px;
}

.post + .post {
    margin-top: 10px;
}

.post .info{
    position: relative;
    float: left;
}

.info img {
    margin-right: 15px;
    margin-bottom: 15px;
    display: block;
    float: left;
    
}

.post h2 {
    display: inline;
    margin: 0;
}

.post a {
    text-decoration: none;
    color:#000;
}

.post a:hover {
    color:red;
}

/* --- RIGHT --- */

#right {
    float: right;
    width: 33.33333333%;
    height: 300px;
}

#right .content {
    margin-left: 10px;
}

/* --- SEARCH --- */

#search {
}

#search h2 {
    margin: 0;
}

.searchinput {
    width: 100%;
    margin-bottom: 10px;
}

.col1 {
    width: 50%;
    float:left;
}

.col2 {
    width: 50%;
    float:left;
    padding: 0;
    margin:0;
}

.hundras {
    width: 100%;
    margin-bottom: 10px;
}

.color {
    width: 50%;
    margin-bottom: 10px;
}

.age {
    width: 45%;
    margin-bottom: 10px;
}

.searchbutton {
}

/* --- WORK --- */

.work-content {
    margin: 0 auto;
    max-width: 600px;
    padding: 30px;  
    background-color: #fff;
    border-radius: 10px;
}

.work-content p {
    text-align: justify;
}

.work-content h2 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}
.work-content img {
    display: block;
    margin: 0 auto;
}
/* --- MAIL FORMULÄR --- */

#form-div {
    max-width: 600px;
    margin: 0 auto;
}

.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 10px 5px 10px 45px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
    border: 2px solid rgba(0,0,0,0);
}

.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 2px solid #3498db;
	color: #3498db;
	outline: none;
    padding: 10px 5px 10px 45px;
}

/* --- Icons --- */
#name{
	background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
	background-size: 20px 20px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

#email{
	background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
	background-size: 20px 20px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

#comment{
	background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
	background-size: 20px 20px;
	background-position: 10px 10px;
	background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
	background-color:white;
}

#button-blue{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: #3498db;
	color:white;
	font-size:24px;
	padding: 10px 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
}

#button-blue:hover{
	background-color: rgba(0,0,0,0);
	color: #0493bd;
}
	
.submit:hover {
	color: #3498db;
}
	
.ease {
	width: 0px;
	height: 74px;
	background-color: #fbfbfb;
	-webkit-transition: .3s ease;
	-moz-transition: .3s ease;
	-o-transition: .3s ease;
	-ms-transition: .3s ease;
	transition: .3s ease;
}

.submit:hover .ease{
  width:100%;
  background-color:white;
}

/* --- FOOTER --- */

#footer {
    clear: both;
    text-align: center;
    padding-top: 10px;
}

#footer .content {
    background: none;
}
