/* basicstyle.css */

/* befintliga element */
body {
	font-family: Garamond;
    background-color: white;
}
#contentsection ul li {
	font-size: 25px;
}

/* class för laboration 3 i JavaScript för webbutveckling*/
#contentsection .pExpandedImage {
	list-style-image: url(minusimage.png);
	width: 0;
}

#contentsection .pCollapsedImage {
	list-style-image: url(plusimage.png);
	width: 0;
}


#contentsection .cExpanded {
	list-style-image: none;
	list-style-type: none;
	display: inline-block;
}

#contentsection .cCollapsed {
	display: none;
}

/* id */
#pstyle {
	font-size: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: blue;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
}

#sitewrapper {
    margin: 25px;
	width: 50%;
	background-color: white;
	color: white;
	margin-left: auto;
	margin-right: auto;
}

#contentwrapper {
	width: 100%;
	background-color: lightgreen;
	min-height: 500px;
    position: relative;
}

#contentnav {
	width: 20%;
	float: left;
	min-height: 400px;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
}

#contentsection{
	width: 75%;
	float: right;
	min-height: 400px;
	padding-top: 20px;
    position: relative;
}

#buttonlink {
    position: absolute;
    top: 0;
}

#table {
    position: absolute;
    top: 50px;
}

#siteheader, #sitefooter {
	height: 40px;
	background-color: green;
	color: white;
}

#siteheader {
	font-size: 30px;
	padding-left: 10px;
	padding-top: 10px;
}

#sitefooter {
	font-size: 15px;
	text-align: center;
	padding-top: 20px;
}
#contentnav ul {
	list-style-type: none;
	padding-top: 5px;
	margin-left: 0px;
}

#contentnav ul li {
	margin-bottom: 5px;
	padding: 3px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	background-color: green;
	color: white;
}

#contentnav ul li a {
	text-decoration: none;
	color: white;
}



