body {
    margin: 0;
    padding: 0;
    background: #E8EAF6;
    font-family: Helvetica, Arial, sans-serif;
    color: #fff;
}

h1,
h2 {
    font-family: 'Just Another Hand', cursive;
}

img {
    width: 100%;
}


/* --- WRAPPER --- */

#wrapper {
    margin: 0 5%;
}


/* --- HEADER --- */

#header,
#footer {
    color: #fff;
    text-align: center;
    padding: 10px 20px;
    clear: both;
}

#header {
    background-color: #3F51B5;
    text-transform: uppercase;
    border-bottom: 10px solid #303F9F;
    font-size: 24px;
}

#footer {
    padding: 20px;
    color: #757575;
}


/* --- LINKS --- */

#links {
    background-color: #EAEAEA;
    padding: 5px;
    border-bottom: 1px solid #DEDEDE;
    text-align: center;
}

#links ul {
    padding: 0;
}

#links li {
    display: inline;
    padding: 0 20px;
}

#links li a {
    text-decoration: none;
    color: #757575;
}

#links li a:hover {
    color: #000;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}


/* --- TOP --- */

#top {
    padding: 10px 0;
    float: left;
}

#top img {
    width: 25%;
    height: auto;
    float: left;
}


/* --- MENY --- */

#meny-wrap {
    width: 30%;
    float: left;
    margin: 0;
}

#meny {
    margin-right: 10px;
}

#meny img {
    float: left;
}

.title {
    background-color: #303F9F;
    float: left;
    width: 100%;
}

.title h2 {
    color: #fff;
    text-align: center;
    padding: 0 20px;
    margin: 20px;
    font-size: 40px;
    font-weight: 400;
}


/* --- CONTENT --- */

#content {
    width: 70%;
    float: left;
}


/* --- MEDIA QUERIES --- */

@media (max-width: 800px) {
    body {
        margin: 0;
        background: #FCE4EC;
    }
    #header {
        background-color: #E91E63;
        text-transform: uppercase;
        border-bottom: 10px solid #AD1457;
    }
    .title {
        background-color: #AD1457;
    }
    #meny-wrap {
        width: 100%;
        margin-bottom: 10px;
    }
    #meny {
        margin-right: 0;
    }
    #content {
        width: 100%;
        float: none;
    }
}

@media (max-width: 400px) {
    body {
        background: #F3E5F5;
    }
    #header {
        background-color: #9C27B0;
        text-transform: uppercase;
        border-bottom: 10px solid #6A1B9A;
    }
    #links li {
        display: block;
    }
    #links li+li {
        padding-top: 10px;
    }
    .title {
        background-color: #6A1B9A;
    }
    #meny-wrap {
        display: none;
    }
}