body, html {
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: #4B4B4F;
}

* {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
}

table {
    width: 100%;
    margin-bottom: 15px;
}

input {
    float: right;
    width: 170px;
}

input[type=color] {
    border: none;
    border-radius: 6px;
    border-color: #fff;
}

input[type=color]:focus {
    outline: none;
}

input[type=text] {
    border: none;
    border-radius: 6px;
    padding: 2px;
}

input[type=text]:focus {
    outline: none;
}

#radioBtns {
    float: right;
}

input[type=radio] {
    float: none;
    width: 20px;
}
input[type=radio] + input[type=radio] {
    margin-left: 45px;
}

#getCSS {
    display: block;
    float: none;
    margin: 0 auto;
}

#codeDiv {
    width: 100%;
    margin: 15px 0;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    white-space: pre;
    line-height: 16px;
}

#wrapper {
    width: 300px;
    margin: 0 auto;
    margin-top: 30px;
}

#button-container {
    width: 300px;
    height: 300px;
    border-radius: 3px;
    box-shadow: 5px 5px 30px 1px #222225;
    display: table-cell;
    vertical-align: middle;
    background-color: #fff;
    text-align: center;
}

#button {
    width: 100%;
    margin: 0 auto;
}

#button-link {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: dodgerblue;
    border-radius: 6px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 5px 5px 30px 1px #64656C;
    transition: all 0.3s ease;
}